Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

codecov.yml:

# -------------------------------------------------------------------------------------
#
# Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com).
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.
#
# --------------------------------------------------------------------------------------

# This workflow will run the codecov action on the repository.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        enabled: yes
        threshold: null
        target: auto
      core:
        target: auto
        flags:
          - '@wso2is/core'
      features:
        target: auto
        flags:
          - '@wso2is/features'
      i18n:
        target: auto
        flags:
          - '@wso2is/i18n'
    patch:
      default:
        target: 80%
        threshold: 40%

comment:
  layout:  "diff, flags, files"
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       
  branches: null

flags:
  '@wso2is/core':
    paths:
      - modules/core/src/**/*.ts
    carryforward: false
  '@wso2is/features':
    paths:
      - features/**/src/**/*.ts
      - features/**/src/**/*.tsx
    carryforward: false
  '@wso2is/i18n':
    paths:
      - modules/i18n/src/**/*.ts
    carryforward: false

adderss comment
  features/admin.cds.v1/api/profile-attributes.ts
Due: none

Add changeset 🦋
  .changeset/wise-gifts-drop.md
Due: none

Add ciba for protocol
  features/admin.applications.v1/components/forms/inbound-oidc-form.tsx
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/models/application-inbound.ts
  features/admin.extensions.v1/configs/application.tsx
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Refactor RuleConditions component to utilize normalizeResourceResponse for consistent API response handling and improve code readability.
  features/admin.rules.v1/components/rule-conditions.tsx
  features/admin.rules.v1/utils/resource-utils.ts
Due: none

UI for IDP group role syncing configurations
  .changeset/fast-pets-lay.md
  features/admin.connections.v1/components/edit/forms/jit-provisioning-configuration-form.tsx
  features/admin.connections.v1/models/connection.ts
  features/admin.extensions.v1/configs/identity-provider.tsx
  features/admin.extensions.v1/configs/models/identity-providers.ts
  modules/i18n/src/models/namespaces/authentication-provider-ns.ts
  modules/i18n/src/translations/en-US/portals/authentication-provider.ts
Due: @wso2is/i18n

Refactor RuleConditions component to improve code readability and consistency; reintroduce normalizeResourceResponse for API response handling.
  features/admin.rules.v1/components/rule-conditions.tsx
Due: none

Show the onboarding wizard based on claim
  features/admin.onboarding.v1/api/get-onboarding-claim.ts
  features/admin.onboarding.v1/api/update-onboarding-claim.ts
  features/admin.onboarding.v1/components/onboarding-wizard.tsx
  features/admin.onboarding.v1/hooks/use-onboarding-status.ts
  features/admin.onboarding.v1/pages/onboarding-page.tsx
Due: none

add changeset
  .changeset/empty-mirrors-repair.md
Due: none

Fix verifiable credentials claim handling
  .changeset/happy-plums-hear.md
  features/admin.verifiable-credentials.v1/components/wizard/add-vc-template.tsx
  features/admin.verifiable-credentials.v1/models/verifiable-credentials.ts
  features/admin.verifiable-credentials.v1/pages/vc-template-edit.tsx
Due: none

Add FAB to re-access onboarding wizard
  apps/console/src/public/deployment.config.json
  features/admin.applications.v1/package.json
  features/admin.applications.v1/pages/applications.tsx
  features/admin.home.v1/package.json
  features/admin.home.v1/pages/home-page.tsx
  features/admin.onboarding.v1/components/onboarding-wizard.tsx
  features/admin.onboarding.v1/components/shared/onboarding-fab.tsx
  features/admin.onboarding.v1/components/steps/welcome-step.tsx
  features/admin.onboarding.v1/constants/component-ids.ts
  features/admin.onboarding.v1/hooks/use-onboarding-fab-visibility.ts
  features/admin.onboarding.v1/hooks/use-onboarding-status.ts
  features/admin.onboarding.v1/pages/onboarding-page.tsx
  features/admin.onboarding.v1/public-api.ts
Due: none

Fix outdated code documentation
  features/admin.onboarding.v1/api/get-onboarding-claim.ts
  features/admin.onboarding.v1/hooks/use-onboarding-status.ts
Due: none

fix changeset
  .changeset/happy-plums-hear.md
Due: none

Add lock file
  features/admin.onboarding.v1/api/get-onboarding-claim.ts
  pnpm-lock.yaml
Due: none

Add Changeset
  .changeset/pretty-waves-march.md
Due: none

Refactor RuleConditions component for improved code readability; streamline API response handling in normalizeResourceResponse function.
  features/admin.rules.v1/components/rule-conditions.tsx
  features/admin.rules.v1/utils/resource-utils.ts
Due: none

Improve the UX of ciba notification delivery
  features/admin.applications.v1/components/forms/inbound-oidc-form.tsx
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Fix verifiable credentials claim handling (#9668)
  .changeset/happy-plums-hear.md
  features/admin.verifiable-credentials.v1/components/wizard/add-vc-template.tsx
  features/admin.verifiable-credentials.v1/models/verifiable-credentials.ts
  features/admin.verifiable-credentials.v1/pages/vc-template-edit.tsx
Due: none

Fix import order problem
  features/admin.applications.v1/pages/applications.tsx
Due: none

Fix lint issues:
  modules/i18n/src/translations/en-US/portals/authentication-provider.ts
Due: @wso2is/i18n

Address comments
  .changeset/fast-pets-lay.md
  features/admin.connections.v1/components/edit/forms/jit-provisioning-configuration-form.tsx
Due: none

Add a config to conditionally enable some disabled feature resources in console roles permissions section
  .changeset/seven-chefs-enjoy.md
  features/admin.console-settings.v1/components/console-roles/create-console-role-wizard/create-console-role-wizard-permissions-form.tsx
  features/admin.core.v1/configs/app.ts
  features/admin.core.v1/models/config.ts
  features/admin.core.v1/store/reducers/config.ts
Due: none

Refactor RuleConditions component for improved code readability; enhance formatting and consistency in function definitions and JSX elements.
  features/admin.rules.v1/components/rule-conditions.tsx
Due: none

Address comments
  features/admin.console-settings.v1/components/console-roles/create-console-role-wizard/create-console-role-wizard-permissions-form.tsx
  features/admin.console-settings.v1/constants/console-roles-onboarding-constants.ts
Due: none

Minor change
  features/admin.console-settings.v1/components/console-roles/create-console-role-wizard/create-console-role-wizard-permissions-form.tsx
Due: none

Rename VC Client to Digital Wallets
  .changeset/dull-fireants-smell.md
  apps/console/src/extensions/i18n/models/extensions.ts
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
  apps/console/src/public/resources/applications/assets/images/illustrations/digital-wallet-template-illustration.svg
  features/admin.application-templates.v1/components/application-templates-grid.tsx
  features/admin.application-templates.v1/constants/templates.ts
  features/admin.applications.v1/components/api-authorization/api-authorization.tsx
  features/admin.applications.v1/components/api-authorization/scope-form.tsx
  features/admin.applications.v1/components/api-authorization/subscribed-api-resources.tsx
  features/admin.applications.v1/components/api-authorization/wizard/authorize-api-resource.tsx
  features/admin.applications.v1/models/application.ts
  features/admin.extensions.v1/configs/application.tsx
Due: none

fix eslint
  features/admin.extensions.v1/configs/application.tsx
Due: none

Rename VC Client to Digital Wallet (#9674)
  .changeset/dull-fireants-smell.md
  apps/console/src/extensions/i18n/models/extensions.ts
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
  apps/console/src/public/resources/applications/assets/images/illustrations/digital-wallet-template-illustration.svg
  features/admin.application-templates.v1/components/application-templates-grid.tsx
  features/admin.application-templates.v1/constants/templates.ts
  features/admin.applications.v1/components/api-authorization/api-authorization.tsx
  features/admin.applications.v1/components/api-authorization/scope-form.tsx
  features/admin.applications.v1/components/api-authorization/subscribed-api-resources.tsx
  features/admin.applications.v1/components/api-authorization/wizard/authorize-api-resource.tsx
  features/admin.applications.v1/models/application.ts
  features/admin.extensions.v1/configs/application.tsx
Due: none

🦋 Add changeset
  .changeset/serious-snakes-pay.md
Due: none

Update locale dropdown in email templates to include all locales available
  features/admin.email-management.v1/components/email-customization-header.scss
  features/admin.email-management.v1/components/email-customization-header.tsx
  features/admin.email-management.v1/pages/email-customization.tsx
  modules/core/src/utils/locales.json
Due: none

Populate all locales in the email template locale dropdown
  features/admin.email-management.v1/components/email-customization-header.tsx
  modules/core/src/utils/common-utils.ts
Due: @wso2is/core

Remove unused imports
  features/admin.email-management.v1/components/email-customization-header.tsx
Due: none

Add changeset
  .changeset/purple-steaks-unite.md
Due: none

Introduce all locales to the SMS template locale dropdown
  features/admin.sms-templates.v1/components/sms-customization-header.scss
  features/admin.sms-templates.v1/components/sms-customization-header.tsx
  features/admin.sms-templates.v1/pages/sms-customization.tsx
Due: none

Fix misc issues
  modules/core/src/utils/locales.json
  modules/i18n/src/models/misc.ts
Due: @wso2is/i18n

Update changeset
  .changeset/serious-snakes-pay.md
Due: none

Address lint issues
  modules/core/src/utils/common-utils.ts
Due: @wso2is/core

Conditionally enable locale dropdown in email and sms template pages
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
  apps/console/src/public/deployment.config.json
  features/admin.core.v1/models/config.ts
  features/admin.email-management.v1/components/email-customization-header.tsx
  features/admin.sms-templates.v1/components/sms-customization-header.tsx
Due: none

Fix deployment config
  features/admin.core.v1/configs/app.ts
  features/admin.core.v1/store/reducers/config.ts
  features/admin.email-management.v1/components/email-customization-header.tsx
Due: none

Fix review suggestions
  .changeset/purple-steaks-unite.md
  .changeset/serious-snakes-pay.md
  apps/console/src/public/deployment.config.json
  features/admin.email-management.v1/components/email-customization-header.scss
  features/admin.email-management.v1/components/email-customization-header.tsx
  features/admin.email-management.v1/pages/email-customization.tsx
  features/admin.sms-templates.v1/components/sms-customization-header.scss
  features/admin.sms-templates.v1/components/sms-customization-header.tsx
  features/admin.sms-templates.v1/pages/sms-customization.tsx
  modules/core/src/utils/common-utils.ts
Due: @wso2is/core

Fix lint issues
  features/admin.core.v1/configs/app.ts
Due: none
