Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

Enhance RuleConditions component by adding zIndex style to popper for improved dropdown visibility
  features/admin.rules.v1/components/rule-conditions.tsx
Due: none

Get ciba grant type name from oidc metadata response
  features/admin.applications.v1/components/forms/inbound-oidc-form.tsx
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Add changeset 🦋
  .changeset/six-mangos-clean.md
Due: none

Add changeset for release trigger
  .changeset/sahan-dilshan-changeset.md
Due: none

Fix infinite scrolling of root tenant list in Console
  features/admin.tenants.v1/components/tenant-grid.tsx
  features/admin.tenants.v1/components/with-tenant-grid-placeholders.tsx
  features/admin.tenants.v1/context/tenant-context.tsx
  features/admin.tenants.v1/providers/tenant-provider.tsx
Due: none

Add changeset
  .changeset/gentle-bulldogs-reply.md
Due: none

Add missing unit tests
  modules/core/src/utils/__tests__/common-utils.test.ts
Due: @wso2is/core

Add core v1 to changeset
  .changeset/purple-steaks-unite.md
Due: none

Update filter URL construction in RuleConditions component to use valueDisplayAttribute for improved resource filtering
  features/admin.rules.v1/components/rule-conditions.tsx
Due: none

fixed the linting issues
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.tsx
  features/admin.approval-workflows.v1/components/edit/approval-workflow-edit.tsx
  features/admin.approval-workflows.v1/constants/approval-workflow-constants.ts
  features/admin.approval-workflows.v1/pages/approval-workflow-create-page.tsx
  features/admin.rules.v1/api/use-get-resource-list-or-resource-details.ts
  modules/i18n/src/translations/en-US/portals/approval-workflows.ts
Due: @wso2is/i18n

Fixed the copyright header
  features/admin.approval-workflows.v1/api/workflow-associations.ts
  features/admin.approval-workflows.v1/components/create/rule-configuration-modal.scss
  features/admin.approval-workflows.v1/components/create/rule-configuration-modal.tsx
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.tsx
  features/admin.approval-workflows.v1/components/edit/approval-workflow-edit.tsx
  features/admin.approval-workflows.v1/constants/approval-workflow-constants.ts
  features/admin.approval-workflows.v1/models/ui.ts
  features/admin.approval-workflows.v1/models/workflow-associations.ts
  features/admin.rules.v1/api/use-get-resource-list-or-resource-details.ts
  features/admin.rules.v1/components/rule-conditions.tsx
  features/admin.rules.v1/components/rules.tsx
  features/admin.rules.v1/utils/resource-utils.ts
  modules/i18n/src/models/namespaces/approval-workflows-ns.ts
Due: @wso2is/i18n

Fixed the copyright header
  modules/i18n/src/translations/en-US/portals/approval-workflows.ts
Due: @wso2is/i18n

fixed format issues
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.scss
Due: none

fixed the naming issues in the stetpper 3
  features/admin.approval-workflows.v1/pages/approval-workflow-create-page.tsx
Due: none

fixe the naming issues
  features/admin.approval-workflows.v1/pages/approval-workflow-create-page.tsx
Due: none

removed unwanted comments
  features/admin.rules.v1/utils/resource-utils.ts
Due: none

removed unwanted comments
  features/admin.rules.v1/components/rule-conditions.tsx
Due: none

Rename sharing tab
  features/admin.users.v1/components/edit-user.tsx
  modules/i18n/src/models/namespaces/users-ns.ts
  modules/i18n/src/translations/en-US/portals/users.ts
Due: @wso2is/i18n

Add new sharing tab
  features/admin.users.v1/components/edit-user.tsx
Due: none

Implement B2B user sharing UI
  features/admin.users.v1/api/use-get-user-share.ts
  features/admin.users.v1/api/users.ts
  features/admin.users.v1/components/edit-user.tsx
  features/admin.users.v1/components/roles-share-with-all.scss
  features/admin.users.v1/components/roles-share-with-all.tsx
  features/admin.users.v1/components/share-user-form.scss
  features/admin.users.v1/components/share-user-form.tsx
  features/admin.users.v1/constants/user-management-constants.ts
  features/admin.users.v1/constants/user-roles.ts
  features/admin.users.v1/models/user.ts
  features/admin.users.v1/package.json
  features/admin.users.v1/user-sharing-v2.yml
  features/common.ui.shared-access.v1/components/selective-org-share-with-selective-roles.tsx
  pnpm-lock.yaml
Due: none

Improve b2b user sharing UI
  features/admin.users.v1/components/roles-share-with-all.tsx
  features/admin.users.v1/components/share-user-form.tsx
  modules/i18n/src/models/namespaces/user-ns.ts
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Update b2b user sharing UI
  features/admin.users.v1/components/share-user-form.tsx
  modules/i18n/src/models/namespaces/user-ns.ts
  modules/i18n/src/translations/en-US/portals/user.ts
  pnpm-lock.yaml
Due: @wso2is/i18n

role sharing wizard text improvements
  features/admin.applications.v1/components/forms/share-application-form-updated.tsx
  features/admin.console-settings.v1/components/console-shared-access/console-shared-access.tsx
  features/admin.users.v1/components/share-user-form.tsx
  features/common.ui.shared-access.v1/components/selective-org-share-with-selective-roles.tsx
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/models/namespaces/user-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Fix role sharing UX under share with all orgs option
  features/admin.users.v1/components/share-user-form.tsx
Due: none

Remove the usage of RoleSharingType.ALL option
  features/admin.users.v1/components/share-user-form.tsx
Due: none

Make alert appear only after user confirmation when sharing user with all orgs
  features/admin.users.v1/components/share-user-form.tsx
Due: none

misc improvements
  features/admin.users.v1/api/use-get-user-share.ts
  features/admin.users.v1/components/share-user-form.tsx
  features/admin.users.v1/models/endpoints.ts
  modules/i18n/src/models/namespaces/user-ns.ts
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Improve text
  features/admin.users.v1/components/share-user-form.tsx
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Revert "Use mock API for user sharing"
  apps/console/src/public/deployment.config.json
  features/admin.users.v1/api/use-get-user-share.ts
  features/admin.users.v1/api/users.ts
Due: none

Use mock API for user sharing
  apps/console/src/public/deployment.config.json
  features/admin.users.v1/api/use-get-user-share.ts
  features/admin.users.v1/api/users.ts
Due: none

Update endpoints
  features/admin.core.v1/store/reducers/config.ts
  features/admin.users.v1/api/use-get-user-share.ts
  features/admin.users.v1/api/users.ts
  features/admin.users.v1/configs/endpoints.ts
  features/admin.users.v1/models/endpoints.ts
Due: none

Misc bug fixes
  features/admin.users.v1/components/share-user-form.tsx
Due: none

Implement preserve current state functionality when switching from share all to share selected
  features/admin.users.v1/components/share-user-form.tsx
  features/common.ui.shared-access.v1/components/selective-org-share-with-selective-roles.tsx
Due: none

Update tab text
  modules/i18n/src/translations/en-US/portals/users.ts
Due: @wso2is/i18n

Update share tab name
  modules/i18n/src/translations/en-US/portals/user.ts
  modules/i18n/src/translations/en-US/portals/users.ts
Due: @wso2is/i18n

Remove individually selected roles widget from under "share will all organizations" radio option
  features/admin.users.v1/api/use-get-user-share.ts
  features/admin.users.v1/components/share-user-form.tsx
  modules/i18n/src/models/namespaces/user-ns.ts
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Remove unnecessary CORS headers from user mgt API requests
  features/admin.users.v1/api/users.ts
Due: none

Improve UI text
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Fix ux issues with share will all organizations option
  features/admin.users.v1/components/share-user-form.tsx
Due: none

Fix lint issues
  features/admin.users.v1/components/share-user-form.tsx
  features/admin.users.v1/models/endpoints.ts
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Path conditions:
  @wso2is/core: any of: modules/core/src/**/*.ts
  @wso2is/features: any of: features/**/src/**/*.ts, features/**/src/**/*.tsx
  @wso2is/i18n: any of: modules/i18n/src/**/*.ts
