Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

Add null check
  features/admin.users.v1/components/wizard/steps/add-user-basic.tsx
Due: none

Add changeset
  .changeset/witty-bees-agree.md
Due: none

Refactor.
  apps/console/src/init/app-utils.ts
  apps/console/src/public/deployment.config.json
  features/admin.users.v1/components/user-impersonation-action.tsx
Due: none

Initiate constants.
  apps/console/src/init/app-utils.ts
  features/admin.applications.v1/constants/application-management.ts
  features/admin.users.v1/constants/user-management-constants.ts
  modules/i18n/src/models/namespaces/user-ns.ts
  modules/i18n/src/models/namespaces/users-ns.ts
  modules/i18n/src/translations/en-US/portals/user.ts
  modules/i18n/src/translations/en-US/portals/users.ts
  modules/theme/src/themes/default/elements/segment.overrides
Due: @wso2is/i18n

Block impersonator role edit priviledges.
  features/admin.roles.v2/components/edit-role/edit-role-basic.tsx
  features/admin.roles.v2/components/edit-role/edit-role.tsx
  features/admin.roles.v2/components/role-list.tsx
Due: none

Onboard impersonate user button.
  apps/console/src/public/resources/users/init-impersonate.html
  features/admin.users.v1/components/user-impersonation-action.tsx
  features/admin.users.v1/components/user-profile.tsx
  features/admin.users.v1/utils/user-management-utils.ts
  modules/react-components/src/components/danger-zone/danger-zone-group.tsx
  modules/react-components/src/components/danger-zone/danger-zone.tsx
Due: none

Show only Application list when myaccount impersonation.
  apps/myaccount/src/layouts/dashboard.tsx
Due: none

Add changeset.
  .changeset/quick-paws-behave.md
Due: none

fix formattings
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
  features/admin.core.v1/constants/i18n-constants.ts
  features/admin.email-providers.v1/pages/email-providers.tsx
Due: none

add changeset
  .changeset/khaki-news-scream.md
Due: none

address comments
  features/admin.email-providers.v1/constants/email-provider-constants.ts
  modules/i18n/src/models/namespaces/email-providers-ns.ts
  modules/i18n/src/translations/en-US/portals/email-providers.ts
Due: @wso2is/i18n

update changeset
  .changeset/khaki-news-scream.md
  .changeset/slimy-rules-walk.md
Due: none

Replace Switcher component with RadioGroups
  features/admin.connections.v1/components/create/enterprise-connection-create-wizard.tsx
  features/admin.connections.v1/components/edit/settings/idp-certificates/idp-certificates.tsx
  features/admin.connections.v1/components/wizards/trusted-token-issuer-create-wizard.tsx
Due: none

Add changeset 🦋
  .changeset/fluffy-peaches-explain.md
Due: none

fix eslint
  features/admin.email-providers.v1/constants/email-provider-constants.ts
  features/admin.email-providers.v1/pages/email-providers.tsx
  modules/form/src/components/form.tsx
  modules/i18n/src/constants.ts
  modules/i18n/src/translations/en-US/portals/email-providers.ts
Due: @wso2is/i18n

fix eslint issues
  features/admin.email-providers.v1/constants/email-provider-constants.ts
  modules/i18n/src/models/namespaces/email-providers-ns.ts
Due: @wso2is/i18n

Replace Switcher component with RadioGroups - fix spacing
  features/admin.connections.v1/components/create/enterprise-connection-create-wizard.tsx
Due: none

fix test failures
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
  modules/form/src/components/form.tsx
Due: none

fix display of identity claims based on config
  features/admin.actions.v1/components/user-attributes/user-attribute-list.tsx
  features/admin.alternative-login-identifier.v1/pages/alternative-login-identifier-page.tsx
  features/admin.applications.v1/components/settings/attribute-management/attribute-settings.tsx
  features/admin.claims.v1/components/add/add-external-claim.tsx
  features/admin.claims.v1/components/edit/external-dialect/edit-external-claim.tsx
  features/admin.claims.v1/pages/local-claims.tsx
  features/admin.login-flow.ai.v1/api/use-user-claims.ts
  features/admin.registration-flow-builder.v1/api/use-get-supported-profile-attributes.ts
  modules/core/src/models/claim.ts
Due: @wso2is/core

add changeset
  .changeset/strange-mice-wait.md
Due: none

Display organization handle in sub organizations in list view and overview
  features/admin.authentication.v1/hooks/use-sign-in.ts
  features/admin.core.v1/store/reducers/organization.ts
  features/admin.organizations.v1/components/edit-organization/organization-overview.tsx
  features/admin.organizations.v1/components/organization-list.tsx
  features/admin.organizations.v1/constants/organization-constants.ts
  features/admin.organizations.v1/models/organizations.ts
  modules/i18n/src/models/namespaces/organizations-ns.ts
  modules/i18n/src/translations/en-US/portals/organizations.ts
Due: @wso2is/i18n

Add changeset 🦋
  .changeset/wild-jokes-smash.md
Due: none

Address suggestion
  features/admin.users.v1/components/wizard/steps/add-user-basic.scss
  features/admin.users.v1/components/wizard/steps/add-user-basic.tsx
Due: none

update the sms template display names.
  .changeset/red-waves-heal.md
  apps/console/src/public/deployment.config.json
Due: none

Fix bug in invite flow
  features/admin.users.v1/components/wizard/add-user-wizard.tsx
  features/admin.users.v1/components/wizard/steps/add-user-basic.tsx
Due: none

fix css issues
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
  features/admin.email-providers.v1/pages/email-providers.scss
  features/admin.email-providers.v1/pages/email-providers.tsx
Due: none

Add Multiple Authentication Schema Support for Email Provider (#8114)
  .changeset/slimy-rules-walk.md
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
  features/admin.core.v1/configs/app.ts
  features/admin.core.v1/constants/i18n-constants.ts
  features/admin.email-providers.v1/constants/email-provider-constants.ts
  features/admin.email-providers.v1/models/email-providers.ts
  features/admin.email-providers.v1/pages/email-providers.scss
  features/admin.email-providers.v1/pages/email-providers.tsx
  features/admin.extensions.v1/configs/endpoints.ts
  modules/form/src/components/form.tsx
  modules/i18n/src/constants.ts
  modules/i18n/src/models/namespaces/email-providers-ns.ts
  modules/i18n/src/translations/en-US/meta.ts
  modules/i18n/src/translations/en-US/portals/email-providers.ts
  modules/i18n/src/translations/en-US/portals/index.ts
Due: @wso2is/i18n

Intial Changes
  features/admin.connections.v1/api/authenticators.ts
  features/admin.connections.v1/components/edit/edit-multi-factor-authenticator.tsx
  features/admin.connections.v1/components/edit/forms/authenticators/google-authenticator-form.tsx
  features/admin.connections.v1/constants/connection-ui-constants.ts
  features/admin.connections.v1/models/authenticators.ts
  features/admin.connections.v1/models/connection.ts
  features/admin.connections.v1/pages/connection-edit.tsx
  features/admin.identity-providers.v1/components/forms/authenticators/google-authenticator-form.tsx
  features/admin.identity-providers.v1/components/forms/authenticators/sms-otp-authenticator-form.tsx
  features/admin.identity-providers.v1/components/utils/connector-utils.ts
  features/admin.identity-providers.v1/models/identity-provider.ts
  modules/i18n/src/models/namespaces/authentication-provider-ns.ts
  modules/i18n/src/translations/en-US/portals/authentication-provider.ts
Due: @wso2is/i18n

Add success message for privileged user add flow
  features/admin.console-settings.v1/components/console-administrators/add-existing-user-wizard/add-existing-user-wizard.tsx
Due: none

Fix issues in switching between external administrators and privileged users
  features/admin.console-settings.v1/components/console-administrators/administrators-list/administrators-list.tsx
Due: none

Update the client id of console and my account when non tenant qualified URLs are used
  apps/console/src/init/app-utils.ts
  apps/myaccount/src/init/app-utils.ts
Due: none

Add changeset
  .changeset/stale-buses-beg.md
Due: none

Update status polling and status-wizard.
  features/admin.applications.v1/api/application.ts
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.scss
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/configs/endpoints.ts
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-operation-status-poller.ts
  features/admin.applications.v1/models/application.ts
  features/admin.applications.v1/models/endpoints.ts
  features/admin.users.v1/components/bulk-import-response-list.tsx
Due: none

Remove Asgardeo reference from Email Provider revert config sub heading
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
Due: none

add changeset
  .changeset/dull-files-ring.md
Due: none

Add changeset 🦋
  .changeset/wild-falcons-divide.md
Due: none

Refactor Email Provider revert config sub heading (#8123)
  .changeset/dull-files-ring.md
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
Due: none

Remove old mcp client template illustration
  apps/console/src/public/resources/applications/assets/images/illustrations/mcp-template-illustration.svg
Due: none

Refactor code
  identity-apps-core/apps/recovery-portal/src/main/webapp/self-registration-username-request.jsp
Due: none

[WSO2 Release] [GitHub Action] [Release] [skip ci] update package versions (#8122)
  .changeset/dull-files-ring.md
  .changeset/empty-moles-train.md
  apps/console/CHANGELOG.md
  apps/console/package.json
  identity-apps-core/CHANGELOG.md
  identity-apps-core/package.json
Due: none

Path conditions:
  @wso2is/core: any of: modules/core/src/**/*.ts
  @wso2is/features: any of: features/**/src/**/*.ts, features/**/src/**/*.tsx
  @wso2is/i18n: any of: modules/i18n/src/**/*.ts
