Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

Address review comments
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.scss
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.tsx
  modules/i18n/src/models/namespaces/claims-ns.ts
  modules/i18n/src/translations/en-US/portals/claims.ts
Due: @wso2is/i18n

Add newline
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.scss
Due: none

Address review comments
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.scss
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.tsx
Due: none

Add entitlement and scim2 role v3 scopes
  apps/console/src/public/deployment.config.json
Due: none

Call the Roles V2 API when Roles API v3 related scopes are not available
  features/admin.administrators.v1/components/guests/onboarded-guest-user-list.tsx
  features/admin.administrators.v1/wizard/add-administrator-wizard.tsx
  features/admin.console-settings.v1/hooks/use-bulk-assign-user-roles.ts
  features/admin.roles.v2/api/roles.ts
  features/admin.roles.v2/components/edit-role/edit-role-basic.tsx
  features/admin.roles.v2/components/edit-role/edit-role-groups.tsx
  features/admin.roles.v2/components/edit-role/edit-role-permission.tsx
  features/admin.roles.v2/components/edit-role/edit-role-users.tsx
  features/admin.users.v1/components/user-profile.tsx
Due: none

update the edit-role function to consider the new roles API v3 sopes
  features/admin.roles.v2/components/edit-role/edit-role.tsx
Due: none

update isuserReadonly logic to honor the scim2 rolve api v3
  features/admin.roles.v2/components/edit-role/edit-role.tsx
Due: none

Hide the entitlement permission if scim2 role V3 update scope is not present
  features/admin.console-settings.v1/components/console-roles/console-roles-edit/console-role-permissions.tsx
  features/admin.console-settings.v1/components/console-roles/create-console-role-wizard/create-console-role-wizard-permissions-form.tsx
  features/admin.console-settings.v1/constants/console-roles-onboarding-constants.ts
Due: none

Address review comments
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.tsx
  features/admin.claims.v1/components/wizard/local-claim/basic-details-local-claims.tsx
Due: none

Fix implict subattributes selection
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.tsx
Due: none

Handle impersonation for asgardeo users.
  features/admin.extensions.v1/configs/models/user.ts
  features/admin.extensions.v1/configs/user.ts
  features/admin.users.v1/components/user-impersonation-action.tsx
  features/admin.users.v1/constants/user-management-constants.ts
Due: none

Disable impersonation for login flow incompatibility.
  features/admin.users.v1/components/user-impersonation-action.tsx
  modules/i18n/src/models/namespaces/user-ns.ts
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Fix timeout not working issues.
  features/admin.users.v1/components/user-impersonation-action.tsx
Due: none

Add changeset.
  .changeset/tricky-buttons-rescue.md
Due: none

Add data type configurations UI
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.scss
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.tsx
  features/admin.claims.v1/components/wizard/local-claim/basic-details-local-claims.tsx
  features/admin.users.v1/components/user-profile.tsx
  modules/core/src/models/claim.ts
  modules/i18n/src/models/namespaces/claims-ns.ts
  modules/i18n/src/translations/en-US/portals/claims.ts
Due: @wso2is/core, @wso2is/i18n

Add changeset
  .changeset/nasty-spoons-carry.md
Due: none

Fix PR comments.
  features/admin.users.v1/components/user-impersonation-action.tsx
Due: none

fix console
  features/admin.applications.v1/components/help-panel/customer-data-tab.tsx
Due: none

Update variable names
  identity-apps-core/apps/authentication-portal/src/main/webapp/includes/branding-preferences.jsp
  identity-apps-core/apps/recovery-portal/src/main/webapp/includes/branding-preferences.jsp
  identity-apps-core/apps/x509-certificate-authentication-portal/src/main/webapp/includes/branding-preferences.jsp
Due: none

Add attribute type support for single valued fields
  features/admin.users.v1/components/user-profile-updated.tsx
  features/admin.users.v1/components/user-profile/dynamic-type-form-field.tsx
  features/admin.users.v1/components/user-profile/multi-valued-form-field.tsx
  modules/core/src/models/claim.ts
Due: @wso2is/core

Fix lint errors
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.tsx
  features/admin.claims.v1/components/wizard/local-claim/basic-details-local-claims.tsx
  features/admin.users.v1/components/edit-user.tsx
  features/admin.users.v1/components/user-profile.tsx
  features/admin.users.v1/components/user-profile/dynamic-type-form-field.tsx
Due: none

Switch to the org handle in places where org id is used as tenant domain
  apps/myaccount/src/api/change-password.ts
  apps/myaccount/src/components/change-password/change-password.tsx
  apps/myaccount/src/components/linked-accounts/linked-accounts.tsx
  apps/myaccount/src/hooks/use-sign-in.ts
  apps/myaccount/src/models/reducer-state.ts
  apps/myaccount/src/store/actions/organization.ts
  apps/myaccount/src/store/actions/types/organization.ts
  apps/myaccount/src/store/reducers/organization.ts
  features/admin.authentication.v1/hooks/use-sign-in.ts
  features/admin.core.v1/components/header.tsx
  features/admin.core.v1/models/reducer-state.ts
  features/admin.core.v1/store/actions/organization.ts
  features/admin.core.v1/store/actions/types/organization.ts
  features/admin.core.v1/store/reducers/organization.ts
Due: none

Add changeset 🦋
  .changeset/neat-tools-nail.md
Due: none

Update cookie properties
  identity-apps-core/apps/authentication-portal/src/main/webapp/includes/branding-preferences.jsp
  identity-apps-core/apps/recovery-portal/src/main/webapp/includes/branding-preferences.jsp
  identity-apps-core/apps/x509-certificate-authentication-portal/src/main/webapp/includes/branding-preferences.jsp
Due: none

Update status polling and status-wizard.
  features/admin.applications.v1/api/application.ts
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.scss
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/configs/endpoints.ts
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-operation-status-poller.ts
  features/admin.applications.v1/models/application.ts
  features/admin.applications.v1/models/endpoints.ts
  features/admin.users.v1/components/bulk-import-response-list.tsx
Due: none

Update use-operation-status-poller
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/hooks/use-async-status.ts
  features/admin.applications.v1/hooks/use-operation-status-poller.ts
Due: none

Add initil changes.
  apps/console/src/public/deployment.config.json
  apps/console/webpack.config.ts
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/hooks/use-async-status.ts
Due: none

Update unit share modal and introduce infinite scrolling.
  features/admin.applications.v1/api/use-get-application-share-status.ts
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.scss
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/models/application.ts
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Add application banner and failure summary modal.
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/models/application.ts
Due: none

Add shared-access-status-banner
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/shared-access-status-banner.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-operation-status-poller.ts
Due: none

Refactored code with i18.
  apps/console/src/public/deployment.config.json
  features/admin.applications.v1/api/application.ts
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/shared-access-status-banner.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-operation-status-poller.ts
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/models/namespaces/common-ns.ts
  modules/i18n/src/translations/de-DE/portals/common.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
  modules/i18n/src/translations/en-US/portals/common.ts
  modules/i18n/src/translations/es-ES/portals/common.ts
  modules/i18n/src/translations/fr-FR/portals/common.ts
  modules/i18n/src/translations/ja-JP/portals/common.ts
  modules/i18n/src/translations/pt-BR/portals/common.ts
  modules/i18n/src/translations/pt-PT/portals/common.ts
  modules/i18n/src/translations/si-LK/portals/common.ts
  modules/i18n/src/translations/ta-IN/portals/common.ts
  modules/i18n/src/translations/zh-CN/portals/common.ts
Due: @wso2is/i18n

Update shared-access-status-banner and refactor the code.
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
  apps/console/src/public/deployment.config.json
  features/admin.applications.v1/api/application.ts
  features/admin.applications.v1/api/use-get-application-share-status.ts
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/shared-access-status-banner.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/configs/endpoints.ts
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-operation-status-poller.ts
  features/admin.applications.v1/models/application.ts
  features/admin.core.v1/configs/app.ts
  features/admin.core.v1/models/config.ts
  modules/core/src/helpers/__mocks__/deployment.config.json
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Refactored the code.
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.scss
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/shared-access-status-banner.tsx
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-async-operation-status.ts
  features/admin.applications.v1/models/application.ts
  features/admin.core.v1/models/common.ts
  features/admin.core.v1/store/reducers/config.ts
  features/admin.users.v1/components/bulk-import-response-list.tsx
  modules/core/src/helpers/__mocks__/deployment.config.json
Due: none

Remove hardcoded config and refactor the code.
  apps/console/src/public/deployment.config.json
  features/admin.applications.v1/components/share-application-status-response-list.scss
  features/admin.applications.v1/components/share-application-status-response-list.tsx
Due: none

Update file names and refactor code.
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
  apps/console/src/public/deployment.config.json
  features/admin.applications.v1/api/application.ts
  features/admin.applications.v1/api/use-get-application-share-status-units.ts
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.scss
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-async-operation-status.ts
  features/admin.applications.v1/models/application.ts
  modules/core/src/helpers/__mocks__/deployment.config.json
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Fix useGetAsyncOperationStatusUnits.
  features/admin.applications.v1/api/use-get-application-share-status-units.ts
Due: none

Update props.
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/shared-access-status-banner.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
Due: none

Update common language constants.
  modules/i18n/src/translations/de-DE/portals/common.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
  modules/i18n/src/translations/es-ES/portals/common.ts
  modules/i18n/src/translations/fr-FR/portals/common.ts
  modules/i18n/src/translations/ja-JP/portals/common.ts
  modules/i18n/src/translations/pt-BR/portals/common.ts
  modules/i18n/src/translations/pt-PT/portals/common.ts
  modules/i18n/src/translations/si-LK/portals/common.ts
  modules/i18n/src/translations/ta-IN/portals/common.ts
  modules/i18n/src/translations/zh-CN/portals/common.ts
Due: @wso2is/i18n

Refactored the code.
  features/admin.applications.v1/hooks/use-async-operation-status.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Update use-async-operation-status
  features/admin.applications.v1/api/application.ts
  features/admin.applications.v1/api/use-get-application-share-status-units.ts
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/shared-access-status-banner.tsx
  features/admin.applications.v1/hooks/use-async-operation-status.ts
Due: none

Path conditions:
  @wso2is/core: any of: modules/core/src/**/*.ts
  @wso2is/features: any of: features/**/src/**/*.ts, features/**/src/**/*.tsx
  @wso2is/i18n: any of: modules/i18n/src/**/*.ts
