Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

codecov.yml:

# -------------------------------------------------------------------------------------
#
# Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com).
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.
#
# --------------------------------------------------------------------------------------

# This workflow will run the codecov action on the repository.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        enabled: yes
        threshold: null
        target: auto
      core:
        target: auto
        flags:
          - '@wso2is/core'
      features:
        target: auto
        flags:
          - '@wso2is/features'
      i18n:
        target: auto
        flags:
          - '@wso2is/i18n'
    patch:
      default:
        target: 80%
        threshold: 40%

comment:
  layout:  "diff, flags, files"
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       
  branches: null

flags:
  '@wso2is/core':
    paths:
      - modules/core/src/**/*.ts
    carryforward: false
  '@wso2is/features':
    paths:
      - features/**/src/**/*.ts
      - features/**/src/**/*.tsx
    carryforward: false
  '@wso2is/i18n':
    paths:
      - modules/i18n/src/**/*.ts
    carryforward: false

Fix i18 bug
  features/admin.core.v1/components/header.tsx
Due: none

Improve role sharing logic in applications
  features/admin.applications.v1/components/forms/org-selective-share-with-all-roles.tsx
  features/admin.applications.v1/components/forms/org-selective-share-with-selective-roles-edit.tsx
  features/admin.applications.v1/components/forms/org-selective-share-with-selective-roles-view.tsx
  features/admin.applications.v1/components/forms/share-application-form-updated.tsx
  features/admin.console-settings.v1/models/shared-access.ts
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Extracted password matching logic into a reusable checkPasswordsMatch function.
  features/admin.users.v1/components/user-change-password.tsx
Due: none

Fix unit test failure and add check for org handle autogeneration
  features/admin.organizations.v1/__tests__/add-organization-modal.test.tsx
Due: none

Add changeset 🦋
  .changeset/sweet-humans-add.md
Due: none

Replace redundant value checks with cleaner if-else structure
  features/admin.users.v1/components/user-change-password.tsx
Due: none

fix the cookie banner issue in dynamci self registration page
  identity-apps-core/apps/authentication-portal/src/main/webapp/self-registration.jsp
Due: none

add the changeset
  .changeset/cold-jars-cover.md
Due: none

imporve the changeset release comment
  .changeset/shy-trainers-agree.md
Due: none

Add `CheckboxGroupFieldAdapter`
  modules/form/src/components/adapters/checkbox-group-field-adapter.tsx
Due: none

Add `SwitchFieldAdapter`
  modules/form/src/components/adapters/switch-field-adapter.tsx
Due: none

Add `SelectFieldAdapter`
  modules/form/src/components/adapters/select-field-adapter-v2.tsx
  modules/form/src/components/index.ts
Due: none

Update util method to include schema URI for sub attributes
  modules/core/src/utils/profile-utils.ts
Due: @wso2is/core

Update `ProfileSchemaInterface` with `inputFormat` attribute
  modules/core/src/models/profile.ts
Due: @wso2is/core

Add specially treated schema URIs to the extension config
  features/admin.extensions.v1/configs/models/scim.ts
  features/admin.extensions.v1/configs/scim.ts
Due: none

Add data format support for console user profile
  features/admin.users.v1/api/profile.ts
  features/admin.users.v1/components/edit-user.tsx
  features/admin.users.v1/components/user-profile.tsx
  features/admin.users.v1/components/user-profile/fields/check-box-group-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/country-field.tsx
  features/admin.users.v1/components/user-profile/fields/dropdown-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/fields/locale-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-field.scss
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-text-field.tsx
  features/admin.users.v1/components/user-profile/fields/radio-group-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
  features/admin.users.v1/utils/user-management-utils.ts
Due: none

Improve password match check for undefined values
  features/admin.users.v1/components/user-change-password.tsx
Due: none

Update password variables to allow undefined type
  features/admin.users.v1/components/user-change-password.tsx
Due: none

Fix issues with console role sharing
  features/admin.console-settings.v1/components/console-shared-access/console-roles-selective-share.tsx
  features/admin.console-settings.v1/components/console-shared-access/console-shared-access.tsx
Due: none

Merge pull request #8478 from hwupathum/remote-log-fix
  .changeset/dull-hounds-greet.md
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
  apps/console/src/public/deployment.config.json
  features/admin.tenants.v1/components/system-settings/remote-logging-config-form.scss
  features/admin.tenants.v1/components/system-settings/remote-logging-config-form.tsx
  features/admin.tenants.v1/constants/tenant-constants.ts
  features/admin.tenants.v1/models/system-settings/remote-log-publishing.ts
  modules/core/src/helpers/__mocks__/deployment.config.json
  modules/i18n/src/models/namespaces/console-ns.ts
  modules/i18n/src/translations/en-US/portals/console.ts
Due: @wso2is/i18n

Use checkPasswordsMatch for password validation
  features/admin.users.v1/components/user-change-password.tsx
Due: none

Update features/admin.users.v1/components/user-change-password.tsx
  features/admin.users.v1/components/user-change-password.tsx
Due: none

Fix multi valued field validation
  features/admin.users.v1/components/user-profile.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-text-field.tsx
  modules/i18n/src/models/namespaces/user-ns.ts
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Fix placeholder texts
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-text-field.tsx
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
Due: none

UI improvements to agents feature
  features/admin.agents.v1/components/edit/agent-overview.tsx
  features/admin.core.v1/components/modals/feature-preview-modal.tsx
  features/admin.home.v1/components/new-feature-announcement/new-feature-announcement.tsx
  features/admin.home.v1/package.json
  features/admin.remote-userstores.v1/pages/remote-user-stores-page.tsx
  features/admin.userstores.v1/constants/user-store-constants.ts
  pnpm-lock.yaml
Due: none

Add i18n for agents tab in edit role view
  features/admin.roles.v2/components/edit-role/edit-role-users.tsx
  modules/i18n/src/models/namespaces/roles-ns.ts
  modules/i18n/src/translations/en-US/portals/roles.ts
Due: @wso2is/i18n

Update agent schema title
  modules/i18n/src/translations/en-US/portals/claims.ts
Due: @wso2is/i18n

Disable new attribute mappings for the agent schema
  features/admin.claims.v1/constants/claim-management-constants.ts
  features/admin.extensions.v1/configs/attribute.ts
Due: none

Remove experimental feature label from agents feature
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
  apps/console/src/public/deployment.config.json
  pnpm-lock.yaml
Due: none

Fix lint issues
  features/admin.agents.v1/components/edit/agent-overview.tsx
Due: none

Refactor code
  features/admin.applications.v1/api/application-roles.ts
  features/admin.applications.v1/components/forms/org-selective-share-with-all-roles.tsx
  features/admin.applications.v1/components/forms/org-selective-share-with-selective-roles-edit.tsx
  features/admin.applications.v1/components/forms/org-selective-share-with-selective-roles-view.tsx
  features/admin.applications.v1/components/forms/share-application-form-updated.tsx
  features/admin.applications.v1/models/application.ts
  features/admin.applications.v1/models/shared-access.ts
  features/admin.applications.v1/utils/shared-access.ts
  features/admin.console-settings.v1/components/console-shared-access/console-roles-selective-share.tsx
  features/admin.console-settings.v1/components/console-shared-access/console-shared-access.tsx
  modules/core/src/models/roles.ts
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/core, @wso2is/i18n

Use global server config to conditionally enable/disable agents feature
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
Due: none

Fix input format change when selecting multi valued property
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.tsx
Due: none

Add changeset 🦋
  .changeset/rare-turtles-whisper.md
Due: none

Send username in agent update request
  features/admin.agents.v1/components/edit/agent-overview.tsx
Due: none

Add util method to sort API resources according to a defined order
  features/admin.api-resources.v2/utils/api-resource-utils.ts
  features/admin.applications.v1/components/api-authorization/wizard/authorize-api-resource.tsx
  features/admin.roles.v2/components/edit-role/edit-role-permission.tsx
  features/admin.roles.v2/components/wizard-updated/role-permissions/role-permissions.tsx
Due: none

Fix mcp servers not being shown in app role create wizard in application edit view
  features/admin.roles.v2/components/wizard-updated/application-role-wizard.tsx
Due: none

Conditionally show correct label for api resource field based on template id
  features/admin.extensions.v1/configs/application.tsx
  features/admin.roles.v2/components/application-roles.tsx
  features/admin.roles.v2/components/wizard-updated/application-role-wizard.tsx
Due: none

Add changeset
  .changeset/fifty-steaks-exercise.md
Due: none

Fix issues in feature preview modal
  features/admin.core.v1/components/modals/feature-preview-modal.tsx
  features/admin.feature-gate.v1/context/feature-gate-context.tsx
  features/admin.feature-gate.v1/providers/feature-gate-provider.tsx
  features/admin.home.v1/components/new-feature-announcement/new-feature-announcement.tsx
Due: none
