Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

Hide system reserved user stores in groups list
  features/admin.groups.v1/pages/groups.tsx
Due: none

Remove logic for filtering agent attributes
  features/admin.users.v1/components/user-profile.tsx
Due: none

Check whether agents feature is enabled for the org when showing agent schema
  features/admin.claims.v1/pages/claim-dialects.tsx
Due: none

Add changeset
  .changeset/mean-spoons-check.md
Due: none

Add `SwitchFieldAdapter`
  modules/form/src/components/adapters/switch-field-adapter.tsx
Due: none

Update util method to include schema URI for sub attributes
  modules/core/src/utils/profile-utils.ts
Due: @wso2is/core

Add `CheckboxGroupFieldAdapter`
  modules/form/src/components/adapters/checkbox-group-field-adapter.tsx
Due: none

Add specially treated schema URIs to the extension config
  features/admin.extensions.v1/configs/models/scim.ts
  features/admin.extensions.v1/configs/scim.ts
Due: none

Update `ProfileSchemaInterface` with `inputFormat` attribute
  modules/core/src/models/profile.ts
Due: @wso2is/core

Add `SelectFieldAdapter`
  modules/form/src/components/adapters/select-field-adapter-v2.tsx
  modules/form/src/components/index.ts
Due: none

Fix minor issues
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
Due: none

Fix multi valued field validation
  features/admin.users.v1/components/user-profile.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-text-field.tsx
  modules/i18n/src/models/namespaces/user-ns.ts
  modules/i18n/src/translations/en-US/portals/user.ts
Due: @wso2is/i18n

Add data format support for console user profile
  features/admin.users.v1/api/profile.ts
  features/admin.users.v1/components/edit-user.tsx
  features/admin.users.v1/components/user-profile.tsx
  features/admin.users.v1/components/user-profile/fields/check-box-group-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/country-field.tsx
  features/admin.users.v1/components/user-profile/fields/dropdown-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/fields/locale-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-field.scss
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-text-field.tsx
  features/admin.users.v1/components/user-profile/fields/radio-group-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
  features/admin.users.v1/utils/user-management-utils.ts
Due: none

Fix placeholder texts
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-text-field.tsx
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
Due: none

Improve select field adapter code
  modules/core/src/constants/profile-constants.ts
  modules/form/src/components/adapters/select-field-adapter.scss
  modules/form/src/components/adapters/select-field-adapter.tsx
Due: @wso2is/core

Move scim URIs to constants
  features/admin.extensions.v1/configs/models/scim.ts
  features/admin.extensions.v1/configs/scim.ts
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
  modules/core/src/constants/profile-constants.ts
Due: @wso2is/core

Fix empty value submission issue
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
Due: none

Improve user profile logic
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
Due: none

Update initial form values extraction
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
Due: none

Fix issues in revamped user profile 1. Handle user store domain in username 2. Fix visual issues in disable select field 3. Add missing fields
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
  modules/form/src/components/adapters/select-field-adapter.scss
  modules/form/src/components/adapters/select-field-adapter.tsx
Due: none

Add unit test to core module
  modules/core/src/utils/__tests__/profile-utils.test.ts
Due: @wso2is/core

Clean up user profile form fields
  features/admin.users.v1/components/user-profile/fields/check-box-group-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/country-field.tsx
  features/admin.users.v1/components/user-profile/fields/dropdown-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/fields/locale-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-text-field.tsx
  features/admin.users.v1/components/user-profile/fields/radio-group-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/single-valued-email-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
  modules/form/src/components/adapters/select-field-adapter-v2.tsx
  modules/form/src/components/adapters/switch-field-adapter.tsx
  modules/form/src/components/index.ts
Due: none

Revamp user profile form fields
  features/admin.users.v1/components/user-profile/fields/check-box-group-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/country-field.tsx
  features/admin.users.v1/components/user-profile/fields/dropdown-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/fields/locale-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-text-field.tsx
  features/admin.users.v1/components/user-profile/fields/radio-group-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
  features/admin.users.v1/models/ui.ts
Due: none

Improve user profile dropdown field
  features/admin.users.v1/components/user-profile/fields/country-field.tsx
  features/admin.users.v1/components/user-profile/fields/dropdown-form-field.tsx
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/fields/locale-field.tsx
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
Due: none

Add changeset 🦋
  .changeset/tidy-bulldogs-sit.md
  .changeset/violet-windows-cheat.md
Due: none

Add constants for pending email and mobile fields
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
  features/admin.users.v1/utils/user-management-utils.ts
Due: none

Fix single valued email/mobile fields
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/fields/single-valued-email-mobile-field.tsx
  features/admin.users.v1/models/ui.ts
Due: none

Update `SelectFieldAdapter` to support multi selection
  modules/form/src/components/adapters/select-field-adapter.tsx
Due: none

Update form submission logic
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
Due: none

Fix test ids
  features/admin.users.v1/components/user-profile.tsx
  features/admin.users.v1/components/user-profile/fields/country-field.tsx
  features/admin.users.v1/components/user-profile/fields/form-field-renderer.tsx
  features/admin.users.v1/components/user-profile/fields/locale-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-email-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/multi-valued-text-field.tsx
  features/admin.users.v1/components/user-profile/fields/single-valued-email-mobile-field.tsx
  features/admin.users.v1/components/user-profile/fields/text-form-field.tsx
  features/admin.users.v1/components/user-profile/user-profile-form.tsx
  features/admin.users.v1/models/ui.ts
Due: none

Resolve conflicts
  features/admin.users.v1/components/user-profile.tsx
Due: none

WIP role sharing
  features/admin.console-settings.v1/components/console-shared-access/console-roles-selective-share.tsx
  features/admin.console-settings.v1/components/console-shared-access/console-shared-access.tsx
Due: none

add support auto generate the self registartion form
  features/admin.ask-password-flow-builder.v1/package.json
  features/admin.ask-password-flow-builder.v1/providers/ask-password-flow-builder-provider.tsx
  features/admin.core.v1/configs/app.ts
  features/admin.core.v1/models/config.ts
  features/admin.core.v1/package.json
  features/admin.flow-builder-core.v1/api/use-metadata.ts
  features/admin.flow-builder-core.v1/components/visual-flow/decorated-visual-flow.tsx
  features/admin.flow-builder-core.v1/config/endpoints.ts
  features/admin.flow-builder-core.v1/context/authentication-flow-builder-core-context.tsx
  features/admin.flow-builder-core.v1/hooks/use-confirm-password-field.tsx
  features/admin.flow-builder-core.v1/hooks/use-delete-redirection-resource.ts
  features/admin.flow-builder-core.v1/models/endpoints.ts
  features/admin.flow-builder-core.v1/models/extension.ts
  features/admin.flow-builder-core.v1/models/metadata.ts
  features/admin.flow-builder-core.v1/package.json
  features/admin.flow-builder-core.v1/providers/authentication-flow-builder-core-provider.tsx
  features/admin.flows.v1/components/flow-list.tsx
  features/admin.flows.v1/data/flows.json
  features/admin.password-recovery-flow-builder.v1/package.json
  features/admin.password-recovery-flow-builder.v1/providers/password-recovery-flow-builder-provider.tsx
  features/admin.registration-flow-builder.v1/components/registration-flow-builder-core.tsx
  features/admin.registration-flow-builder.v1/data/templates.json
  features/admin.registration-flow-builder.v1/hooks/use-default-flow.ts
  features/admin.registration-flow-builder.v1/package.json
  features/admin.registration-flow-builder.v1/providers/registration-flow-builder-provider.tsx
  modules/core/src/models/claim.ts
  modules/i18n/src/models/namespaces/flows-ns.ts
  modules/i18n/src/translations/en-US/portals/flows.ts
  pnpm-lock.yaml
Due: @wso2is/core, @wso2is/i18n

Change role sharing policy
  features/admin.applications.v1/components/forms/share-application-form-updated.tsx
Due: none

Disable flows
  features/admin.flows.v1/data/flows.json
Due: none

Add changeset
  .changeset/sweet-students-mix.md
Due: none

Improve agent secret regeneration ux
  features/admin.agents.v1/components/edit/agent-credentials.tsx
  features/admin.agents.v1/components/edit/agent-secret-show-modal.tsx
Due: none

Remove agents from feature preview modal
  features/admin.core.v1/components/modals/feature-preview-modal.tsx
Due: none

Show agent ID in agent edit view header
  features/admin.agents.v1/pages/edit-agent.tsx
Due: none

Update i18n
  features/admin.agents.v1/pages/agents.tsx
  modules/i18n/src/models/namespaces/agents-ns.ts
  modules/i18n/src/translations/en-US/portals/agents.ts
Due: @wso2is/i18n

Path conditions:
  @wso2is/core: any of: modules/core/src/**/*.ts
  @wso2is/features: any of: features/**/src/**/*.ts, features/**/src/**/*.tsx
  @wso2is/i18n: any of: modules/i18n/src/**/*.ts
