Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

codecov.yml:

# -------------------------------------------------------------------------------------
#
# Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com).
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.
#
# --------------------------------------------------------------------------------------

# This workflow will run the codecov action on the repository.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        enabled: yes
        threshold: null
        target: auto
      core:
        target: auto
        flags:
          - '@wso2is/core'
      features:
        target: auto
        flags:
          - '@wso2is/features'
      i18n:
        target: auto
        flags:
          - '@wso2is/i18n'
    patch:
      default:
        target: 80%
        threshold: 40%

comment:
  layout:  "diff, flags, files"
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       
  branches: null

flags:
  '@wso2is/core':
    paths:
      - modules/core/src/**/*.ts
    carryforward: false
  '@wso2is/features':
    paths:
      - features/**/src/**/*.ts
      - features/**/src/**/*.tsx
    carryforward: false
  '@wso2is/i18n':
    paths:
      - modules/i18n/src/**/*.ts
    carryforward: false

Update features/admin.roles.v2/components/role-utils.ts
  features/admin.roles.v2/components/role-utils.ts
Due: none

Improve my account Impersonator role edit restrictions (#8167)
  .changeset/proud-mice-joke.md
  apps/console/src/init/app-utils.ts
  features/admin.roles.v2/components/edit-role/edit-role-basic.tsx
  features/admin.roles.v2/components/edit-role/edit-role.tsx
  features/admin.roles.v2/components/role-list.tsx
  features/admin.roles.v2/components/role-utils.ts
  features/admin.roles.v2/constants/role-constants.ts
  features/admin.users.v1/components/user-impersonation-action.tsx
Due: none

[WSO2 Release] [GitHub Action] [Release] [skip ci] update package versions (#8168)
  .changeset/proud-mice-joke.md
  apps/console/CHANGELOG.md
  apps/console/package.json
  features/admin.roles.v2/CHANGELOG.md
  features/admin.roles.v2/package.json
  features/admin.users.v1/CHANGELOG.md
  features/admin.users.v1/package.json
  pnpm-lock.yaml
Due: none

Add changeset 🦋
  .changeset/mean-bobcats-collect.md
Due: none

Add shared-access-status-banner
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/shared-access-status-banner.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-operation-status-poller.ts
Due: none

Styling and Formatting checks
  features/admin.branding.v1/components/custom-page-editor-page-layout.tsx
Due: none

Add support for users filtering based on the account status
  features/admin.users.v1/components/AccountStatusFilterDropdown.scss
  features/admin.users.v1/components/AccountStatusFilterDropdown.tsx
  features/admin.users.v1/constants/user-management-constants.ts
  features/admin.users.v1/models/user.ts
  features/admin.users.v1/pages/users.scss
  features/admin.users.v1/pages/users.tsx
Due: none

Styling and Formatting checks
  features/admin.branding.v1/components/branding-page-layout.tsx
Due: none

Styling and Formatting checks
  features/admin.branding.v1/components/custom-page-editor/editor-view.tsx
  features/admin.branding.v1/context/custom-page-editor-context.tsx
Due: none

Update Licence Headers
  features/admin.branding.v1/components/custom-page-editor-page-layout.tsx
  features/admin.branding.v1/components/custom-page-editor/editor-view.tsx
  features/admin.branding.v1/context/custom-page-editor-context.tsx
  features/admin.branding.v1/hooks/use-custom-page-editor.ts
  features/admin.branding.v1/providers/custom-page-provider.tsx
Due: none

Improve session refresh logic
  apps/console/src/init/init.ts
Due: none

Add changeset 🦋
  .changeset/three-hounds-fry.md
Due: none

Refactored code with i18.
  apps/console/src/public/deployment.config.json
  features/admin.applications.v1/api/application.ts
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/shared-access-status-banner.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-operation-status-poller.ts
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/models/namespaces/common-ns.ts
  modules/i18n/src/translations/de-DE/portals/common.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
  modules/i18n/src/translations/en-US/portals/common.ts
  modules/i18n/src/translations/es-ES/portals/common.ts
  modules/i18n/src/translations/fr-FR/portals/common.ts
  modules/i18n/src/translations/ja-JP/portals/common.ts
  modules/i18n/src/translations/pt-BR/portals/common.ts
  modules/i18n/src/translations/pt-PT/portals/common.ts
  modules/i18n/src/translations/si-LK/portals/common.ts
  modules/i18n/src/translations/ta-IN/portals/common.ts
  modules/i18n/src/translations/zh-CN/portals/common.ts
Due: @wso2is/i18n

Update Licence Headers
  features/admin.branding.v1/pages/branding.tsx
Due: none

Update Licence Headers
  features/admin.branding.v1/components/preview/branding-preference-preview.tsx
Due: none

Add Multiple Authentication Schema Support for Email Provider
  .changeset/calm-laws-explain.md
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
  apps/console/src/public/deployment.config.json
  features/admin.core.v1/configs/app.ts
  features/admin.core.v1/constants/i18n-constants.ts
  features/admin.core.v1/models/config.ts
  features/admin.core.v1/store/reducers/config.ts
  features/admin.email-providers.v1/api/email-providers.ts
  features/admin.email-providers.v1/constants/email-provider-constants.ts
  features/admin.email-providers.v1/models/email-providers.ts
  features/admin.email-providers.v1/pages/email-providers.scss
  features/admin.email-providers.v1/pages/email-providers.tsx
  features/admin.extensions.v1/configs/endpoints.ts
  features/admin.extensions.v1/configs/models/endpoints.ts
  modules/core/src/helpers/__mocks__/deployment.config.json
  modules/form/src/components/form.tsx
  modules/i18n/src/constants.ts
  modules/i18n/src/models/namespaces/email-providers-ns.ts
  modules/i18n/src/translations/en-US/meta.ts
  modules/i18n/src/translations/en-US/portals/email-providers.ts
  modules/i18n/src/translations/en-US/portals/index.ts
Due: @wso2is/i18n

fix checkstyles
  features/admin.email-providers.v1/pages/email-providers.tsx
Due: none

Fix review comments
  features/admin.users.v1/components/AccountStatusFilterDropdown.scss
  features/admin.users.v1/components/AccountStatusFilterDropdown.tsx
  features/admin.users.v1/constants/user-management-constants.ts
  features/admin.users.v1/models/user.ts
  features/admin.users.v1/pages/users.tsx
  modules/i18n/src/models/namespaces/users-ns.ts
  modules/i18n/src/translations/en-US/portals/users.ts
Due: @wso2is/i18n

Add changeset 🦋
  .changeset/brown-mice-hug.md
Due: none

Resolve theme from query param in auth and recovery portals
  identity-apps-core/apps/authentication-portal/src/main/webapp/basicauth.jsp
  identity-apps-core/apps/authentication-portal/src/main/webapp/includes/branding-preferences.jsp
  identity-apps-core/apps/recovery-portal/src/main/webapp/includes/branding-preferences.jsp
Due: none

Add condition to send query param in payload
  identity-apps-core/apps/authentication-portal/src/main/webapp/basicauth.jsp
Due: none

improve ui logic
  apps/console/src/configs/routes.tsx
  features/admin.cds.v1/components/modals/delete-profile-confirmation-modal.tsx
  features/admin.cds.v1/components/modals/enrichment-rule-add-modal.tsx
  features/admin.cds.v1/components/modals/trait-add-modal.tsx
  features/admin.cds.v1/pages/profile-enrichment-rules.tsx
  features/admin.cds.v1/pages/profile-unification-rules.tsx
  features/admin.cds.v1/pages/traits.tsx
Due: none

Address comments
  features/admin.email-providers.v1/api/email-providers.ts
  features/admin.email-providers.v1/constants/email-provider-constants.ts
  features/admin.email-providers.v1/pages/email-providers.scss
  features/admin.email-providers.v1/pages/email-providers.tsx
  features/admin.extensions.v1/configs/models/endpoints.ts
  modules/form/src/components/form.tsx
  modules/i18n/src/models/namespaces/email-providers-ns.ts
  modules/i18n/src/translations/en-US/portals/email-providers.ts
Due: @wso2is/i18n

update styling
  features/admin.email-providers.v1/pages/email-providers.scss
  features/admin.email-providers.v1/pages/email-providers.tsx
Due: none

Add organization handle to sub organization creation
  features/admin.organizations.v1/api/organization.ts
  features/admin.organizations.v1/components/add-organization-modal.tsx
  features/admin.organizations.v1/models/organizations.ts
  modules/form/src/components/adapters/__DEPRECATED__adapters.tsx
  modules/form/src/components/field-input.tsx
  modules/form/src/models/fields.ts
  modules/i18n/src/models/namespaces/organizations-ns.ts
  modules/i18n/src/translations/en-US/portals/organizations.ts
  modules/react-components/src/components/input/edit-input-field.scss
  modules/react-components/src/components/input/edit-input-field.tsx
Due: @wso2is/i18n

Fix review comments
  features/admin.users.v1/components/AccountStatusFilterDropdown.scss
  features/admin.users.v1/components/AccountStatusFilterDropdown.tsx
  features/admin.users.v1/constants/user-management-constants.ts
  features/admin.users.v1/pages/users.tsx
  modules/i18n/src/models/namespaces/users-ns.ts
  modules/i18n/src/translations/en-US/portals/users.ts
Due: @wso2is/i18n

Update changeset
  .changeset/brown-mice-hug.md
Due: none

Add dynamic type form field
  features/admin.users.v1/components/user-profile-updated.tsx
  features/admin.users.v1/components/user-profile/dynamic-type-form-field.tsx
  features/admin.users.v1/components/user-profile/multi-valued-form-field.scss
  features/admin.users.v1/components/user-profile/multi-valued-form-field.tsx
Due: none

fix eslint issue
  features/admin.email-providers.v1/pages/email-providers.tsx
Due: none

Replace createhash with window browser friendly function.
  modules/core/src/utils/__tests__/authenticate-utils.test.ts
  modules/core/src/utils/authenticate-utils.ts
Due: @wso2is/core

Add changeset.
  .changeset/nasty-carrots-raise.md
Due: none

Add Multiple Authentication Schema Support for Email Provider (#8174)
  .changeset/calm-laws-explain.md
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
  apps/console/src/extensions/i18n/resources/en-US/extensions.ts
  apps/console/src/public/deployment.config.json
  features/admin.core.v1/configs/app.ts
  features/admin.core.v1/constants/i18n-constants.ts
  features/admin.core.v1/models/config.ts
  features/admin.core.v1/store/reducers/config.ts
  features/admin.email-providers.v1/api/email-providers.ts
  features/admin.email-providers.v1/constants/email-provider-constants.ts
  features/admin.email-providers.v1/models/email-providers.ts
  features/admin.email-providers.v1/pages/email-providers.scss
  features/admin.email-providers.v1/pages/email-providers.tsx
  features/admin.extensions.v1/configs/endpoints.ts
  features/admin.extensions.v1/configs/models/endpoints.ts
  modules/core/src/helpers/__mocks__/deployment.config.json
  modules/form/src/components/form.tsx
  modules/i18n/src/constants.ts
  modules/i18n/src/models/namespaces/email-providers-ns.ts
  modules/i18n/src/translations/en-US/meta.ts
  modules/i18n/src/translations/en-US/portals/email-providers.ts
  modules/i18n/src/translations/en-US/portals/index.ts
Due: @wso2is/i18n

[WSO2 Release] [GitHub Action] [Release] [skip ci] update package versions (#8173)
  .changeset/brown-mice-hug.md
  .changeset/calm-laws-explain.md
  .changeset/moody-rocks-notice.md
  .changeset/nasty-carrots-raise.md
  apps/console/CHANGELOG.md
  apps/console/package.json
  apps/myaccount/CHANGELOG.md
  apps/myaccount/package.json
  features/admin.core.v1/CHANGELOG.md
  features/admin.core.v1/package.json
  features/admin.email-providers.v1/CHANGELOG.md
  features/admin.email-providers.v1/package.json
  features/admin.extensions.v1/CHANGELOG.md
  features/admin.extensions.v1/package.json
  features/admin.users.v1/CHANGELOG.md
  features/admin.users.v1/package.json
  identity-apps-core/CHANGELOG.md
  identity-apps-core/package.json
  modules/core/CHANGELOG.md
  modules/core/package.json
  modules/form/CHANGELOG.md
  modules/form/package.json
  modules/i18n/CHANGELOG.md
  modules/i18n/package.json
  pnpm-lock.yaml
Due: none

Update shared-access-status-banner and refactor the code.
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
  apps/console/src/public/deployment.config.json
  features/admin.applications.v1/api/application.ts
  features/admin.applications.v1/api/use-get-application-share-status.ts
  features/admin.applications.v1/components/forms/share-application-form.tsx
  features/admin.applications.v1/components/settings/shared-access.tsx
  features/admin.applications.v1/components/share-application-status-response-list.tsx
  features/admin.applications.v1/components/shared-access-status-banner.tsx
  features/admin.applications.v1/components/wizard/application-share-status-wizard.tsx
  features/admin.applications.v1/configs/endpoints.ts
  features/admin.applications.v1/constants/application-management.ts
  features/admin.applications.v1/hooks/use-operation-status-poller.ts
  features/admin.applications.v1/models/application.ts
  features/admin.core.v1/configs/app.ts
  features/admin.core.v1/models/config.ts
  modules/core/src/helpers/__mocks__/deployment.config.json
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

force trigger console version
  .changeset/long-rabbits-complain.md
Due: none

Introduce new method to asssign/deassign users/groups into role using the granular endpoint
  features/admin.core.v1/store/reducers/config.ts
  features/admin.roles.v2/api/roles.ts
  features/admin.roles.v2/configs/endpoints.ts
  features/admin.roles.v2/models/endpoints.ts
Due: none

call the SCIM2 Role v3 API to get the roles list
  features/admin.roles.v2/api/use-get-roles-list.ts
Due: none

Remove single quote from the filter query
  features/admin.users.v1/constants/user-management-constants.ts
Due: none

Add changeset 🦋
  .changeset/dull-wolves-wait.md
Due: none

call the SCIM2 Role v3 API endpoint to assign groups into role
  features/admin.roles.v2/components/edit-role/edit-role-groups.tsx
Due: none
