Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

codecov.yml:

# -------------------------------------------------------------------------------------
#
# Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com).
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.
#
# --------------------------------------------------------------------------------------

# This workflow will run the codecov action on the repository.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        enabled: yes
        threshold: null
        target: auto
      core:
        target: auto
        flags:
          - '@wso2is/core'
      features:
        target: auto
        flags:
          - '@wso2is/features'
      i18n:
        target: auto
        flags:
          - '@wso2is/i18n'
    patch:
      default:
        target: 80%
        threshold: 40%

comment:
  layout:  "diff, flags, files"
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       
  branches: null

flags:
  '@wso2is/core':
    paths:
      - modules/core/src/**/*.ts
    carryforward: false
  '@wso2is/features':
    paths:
      - features/**/src/**/*.ts
      - features/**/src/**/*.tsx
    carryforward: false
  '@wso2is/i18n':
    paths:
      - modules/i18n/src/**/*.ts
    carryforward: false

fix: add blank line before closing brace in FeatureConfigInterface
  modules/access-control/src/models/access-control.ts
Due: none

refactor: update FeatureConfigInterface requirements per reviewer feedback
  features/admin.console-settings.v1/components/console-roles/create-console-role-wizard/create-console-role-wizard-permissions-form.tsx
  features/admin.core.v1/models/config.ts
  modules/access-control/src/models/access-control.ts
Due: none

Fix multiple user creation message and issues.
  features/admin.ask-password-flow-builder.v1/components/resource-property-panel/steps/execution/ask-password-configurations.tsx
  features/admin.registration-flow-builder.v1/data/templates.json
  features/admin.users.v1/pages/users.tsx
  modules/i18n/src/models/namespaces/users-ns.ts
  modules/i18n/src/translations/en-US/portals/users.ts
Due: @wso2is/i18n

Add missing images to account portal.
  identity-apps-core/apps/accounts/src/main/webapp/assets/images/icons/fingerprint.svg
  identity-apps-core/apps/accounts/src/main/webapp/assets/images/icons/link.svg
Due: none

Issue-25215 remove the reference of i18n key
  features/admin.oidc-scopes.v1/pages/oidc-scopes-edit.tsx
Due: none

add organization context variables and initial body skeleton layout
  features/admin.home.v1/pages/home-page.tsx
  features/admin.organizations.v1/components/organization-list.tsx
  features/admin.organizations.v1/components/organization-switch/organization-switch-breadcrumb.tsx
  features/admin.organizations.v1/context/organizations-context.tsx
  features/admin.organizations.v1/pages/organization-edit.tsx
  features/admin.organizations.v1/pages/organizations.tsx
  features/admin.organizations.v1/providers/organizations-provider.tsx
Due: none

Minor improvements to application script editor in read only mode
  .changeset/lucky-mugs-tan.md
  features/admin.applications.v1/components/settings/sign-on-methods/script-based-flow/script-based-flow.scss
  features/admin.applications.v1/components/settings/sign-on-methods/script-based-flow/script-based-flow.tsx
  features/admin.login-flow-builder.v1/components/authentication-flow-builder.tsx
  features/admin.login-flow-builder.v1/components/predefined-flows-side-panel/predefined-flows-side-panel.tsx
  features/admin.login-flow-builder.v1/components/script-editor-panel/script-based-flow-switch.scss
  features/admin.login-flow-builder.v1/components/script-editor-panel/script-based-flow-switch.tsx
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Update logic to show the update button with the backward compatible config
  features/admin.login-flow-builder.v1/components/authentication-flow-builder.tsx
Due: none

Add changeset and address comments.
  .changeset/real-terms-bathe.md
  features/admin.ask-password-flow-builder.v1/components/resource-property-panel/steps/execution/ask-password-configurations.tsx
  modules/i18n/src/translations/en-US/portals/users.ts
Due: @wso2is/i18n

Address EsLint issues.
  features/admin.ask-password-flow-builder.v1/components/resource-property-panel/steps/execution/ask-password-configurations.tsx
  features/admin.users.v1/pages/users.tsx
Due: none

Address trailing space issue in user.tsx.
  features/admin.users.v1/pages/users.tsx
Due: none

Fix inconsitant messeges in end node in self registration.
  features/admin.registration-flow-builder.v1/data/templates.json
  features/admin.registration-flow-builder.v1/migrations/templates/default-end-node.json
Due: none

Fix comments.
  features/admin.ask-password-flow-builder.v1/components/resource-property-panel/steps/execution/ask-password-configurations.tsx
  features/admin.users.v1/pages/users.tsx
Due: none

Fix Lint Issue.
  features/admin.users.v1/pages/users.tsx
Due: none

Add Changeset.
  .changeset/proud-camels-cheat.md
Due: none

Improve login_hint checking logic
  identity-apps-core/apps/authentication-portal/src/main/webapp/basicauth.jsp
  identity-apps-core/apps/authentication-portal/src/main/webapp/login.jsp
Due: none

Add validation and error handling for organization selection in application sharing
  features/admin.applications.v1/components/forms/share-application-form-updated.tsx
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Fix application protocol section update issue
  features/admin.applications.v1/components/forms/inbound-oidc-form.tsx
Due: none

Add changeset 🦋
  .changeset/famous-oranges-appear.md
Due: none

Remove unnecessary whitespace
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

Add changeset 🦋
  .changeset/itchy-geckos-sort.md
Due: none

Fix CSS issue in Approval in My Account app in dark theme
  features/common.branding.v1/meta/theme-provider-meta.ts
  features/common.workflow-approvals.v1/components/approval-task.scss
  features/common.workflow-approvals.v1/components/approval-task.tsx
Due: none

Fix CSS issue in Approval in My Account app in dark theme
  features/common.branding.v1/meta/theme-provider-meta.ts
Due: none

Add missing classes to keep the consistency
  identity-apps-core/apps/accounts/src/main/webapp/includes/theme-skeleton.jsp
  identity-apps-core/apps/authentication-portal/src/main/webapp/includes/theme-skeleton.jsp
  identity-apps-core/apps/recovery-portal/src/main/webapp/includes/theme-skeleton.jsp
  identity-apps-core/apps/x509-certificate-authentication-portal/src/main/webapp/includes/theme-skeleton.jsp
Due: none

Add changeset 🦋
  .changeset/great-radios-wink.md
Due: none

Fix CSS class
  features/common.workflow-approvals.v1/components/approval-task.scss
Due: none

Update locale dropdown in email templates to include all locales available
  features/admin.email-management.v1/components/email-customization-header.scss
  features/admin.email-management.v1/components/email-customization-header.tsx
  features/admin.email-management.v1/pages/email-customization.tsx
  modules/core/src/utils/locales.json
Due: none

🦋 Add changeset
  .changeset/serious-snakes-pay.md
Due: none

Address lint issues
  modules/core/src/utils/common-utils.ts
Due: @wso2is/core

Populate all locales in the email template locale dropdown
  features/admin.email-management.v1/components/email-customization-header.tsx
  modules/core/src/utils/common-utils.ts
Due: @wso2is/core

Introduce all locales to the SMS template locale dropdown
  features/admin.sms-templates.v1/components/sms-customization-header.scss
  features/admin.sms-templates.v1/components/sms-customization-header.tsx
  features/admin.sms-templates.v1/pages/sms-customization.tsx
Due: none

Fix misc issues
  modules/core/src/utils/locales.json
  modules/i18n/src/models/misc.ts
Due: @wso2is/i18n

Remove unused imports
  features/admin.email-management.v1/components/email-customization-header.tsx
Due: none

Add changeset
  .changeset/purple-steaks-unite.md
Due: none

Update changeset
  .changeset/serious-snakes-pay.md
Due: none

Add email otp resend limit to console connection configurations
  features/admin.connections.v1/constants/connection-ui-constants.ts
  features/admin.identity-providers.v1/components/forms/authenticators/email-otp-authenticator-form.tsx
  modules/i18n/src/models/namespaces/authentication-provider-ns.ts
  modules/i18n/src/models/namespaces/console-ns.ts
  modules/i18n/src/translations/en-US/portals/authentication-provider.ts
  modules/i18n/src/translations/en-US/portals/console.ts
Due: @wso2is/i18n

added changeset
  .changeset/twelve-wolves-smoke.md
Due: none

Add Sms OTP UI resend timer and error messages for resend count exceeding
  identity-apps-core/apps/authentication-portal/src/main/resources/org/wso2/carbon/identity/application/authentication/endpoint/i18n/Resources.properties
  identity-apps-core/apps/authentication-portal/src/main/resources/org/wso2/carbon/identity/application/authentication/endpoint/i18n/Resources_de_DE.properties
  identity-apps-core/apps/authentication-portal/src/main/resources/org/wso2/carbon/identity/application/authentication/endpoint/i18n/Resources_es_ES.properties
  identity-apps-core/apps/authentication-portal/src/main/resources/org/wso2/carbon/identity/application/authentication/endpoint/i18n/Resources_fr_FR.properties
  identity-apps-core/apps/authentication-portal/src/main/resources/org/wso2/carbon/identity/application/authentication/endpoint/i18n/Resources_ja_JP.properties
  identity-apps-core/apps/authentication-portal/src/main/resources/org/wso2/carbon/identity/application/authentication/endpoint/i18n/Resources_pt_BR.properties
  identity-apps-core/apps/authentication-portal/src/main/resources/org/wso2/carbon/identity/application/authentication/endpoint/i18n/Resources_pt_PT.properties
  identity-apps-core/apps/authentication-portal/src/main/resources/org/wso2/carbon/identity/application/authentication/endpoint/i18n/Resources_zh_CN.properties
  identity-apps-core/apps/authentication-portal/src/main/webapp/emailOtp.jsp
Due: none

feat: Add markdown rendering support for dynamic form helperText
  features/admin.template-core.v1/components/form-dynamic-field.tsx
Due: none

Minor refactoring
  features/admin.connections.v1/constants/connection-ui-constants.ts
Due: none
