Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

codecov.yml:

# -------------------------------------------------------------------------------------
#
# Copyright (c) 2024, WSO2 LLC. (https://www.wso2.com).
#
# WSO2 LLC. licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except
# in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied. See the License for the
# specific language governing permissions and limitations
# under the License.
#
# --------------------------------------------------------------------------------------

# This workflow will run the codecov action on the repository.

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  status:
    project:
      default:
        enabled: yes
        threshold: null
        target: auto
      core:
        target: auto
        flags:
          - '@wso2is/core'
      features:
        target: auto
        flags:
          - '@wso2is/features'
      i18n:
        target: auto
        flags:
          - '@wso2is/i18n'
    patch:
      default:
        target: 80%
        threshold: 40%

comment:
  layout:  "diff, flags, files"
  behavior: default
  require_changes: false  
  require_base: yes
  require_head: yes       
  branches: null

flags:
  '@wso2is/core':
    paths:
      - modules/core/src/**/*.ts
    carryforward: false
  '@wso2is/features':
    paths:
      - features/**/src/**/*.ts
      - features/**/src/**/*.tsx
    carryforward: false
  '@wso2is/i18n':
    paths:
      - modules/i18n/src/**/*.ts
    carryforward: false

Show Update Level on Console
  features/admin.core.v1/components/header.tsx
  features/admin.core.v1/package.json
  pnpm-lock.yaml
Due: none

Fix ESLint issues
  features/common.ui.v1/models/runtime-config.ts
Due: none

Populate all locales in the email template locale dropdown
  features/admin.email-management.v1/components/email-customization-header.tsx
  modules/core/src/utils/common-utils.ts
Due: @wso2is/core

Fix ability to continue with errors.
  identity-apps-core/react-ui-core/src/components/adapters/country-field-adapter.js
  identity-apps-core/react-ui-core/src/components/adapters/date-field-adapter.js
  identity-apps-core/react-ui-core/src/components/adapters/number-field-adapter.js
  identity-apps-core/react-ui-core/src/components/adapters/otp-field-adapter.js
  identity-apps-core/react-ui-core/src/components/adapters/password-field-adapter.js
  identity-apps-core/react-ui-core/src/components/adapters/phone-number-field-adapter.js
  identity-apps-core/react-ui-core/src/components/adapters/text-field-adapter.js
  identity-apps-core/react-ui-core/src/hooks/use-dynamic-form.js
  identity-apps-core/react-ui-core/src/hooks/use-field-validations.js
Due: none

Add required icon for field labels in My Account user profile
  apps/myaccount/src/components/profile/fields/country-field-form.tsx
  apps/myaccount/src/components/profile/fields/date-picker-field-form.tsx
  apps/myaccount/src/components/profile/fields/dropdown-field-form.tsx
  apps/myaccount/src/components/profile/fields/field-form.scss
  apps/myaccount/src/components/profile/fields/locale-field-form.tsx
  apps/myaccount/src/components/profile/fields/multi-email-field-form.tsx
  apps/myaccount/src/components/profile/fields/multi-mobile-field-form.tsx
  apps/myaccount/src/components/profile/fields/multi-valued-field-form.tsx
  apps/myaccount/src/components/profile/fields/radio-field-form.tsx
  apps/myaccount/src/components/profile/fields/single-email-field-form.tsx
  apps/myaccount/src/components/profile/fields/single-mobile-field-form.tsx
  apps/myaccount/src/components/profile/fields/text-field-form.tsx
Due: none

Fix issues in User Profile multi valued text field
  features/common.users.v1/components/multi-valued-text-field.tsx
  modules/i18n/src/models/namespaces/common-users-ns.ts
  modules/i18n/src/translations/de-DE/portals/common-users.ts
  modules/i18n/src/translations/en-US/portals/common-users.ts
  modules/i18n/src/translations/es-ES/portals/common-users.ts
  modules/i18n/src/translations/fr-FR/portals/common-users.ts
  modules/i18n/src/translations/ja-JP/portals/common-users.ts
  modules/i18n/src/translations/pt-BR/portals/common-users.ts
  modules/i18n/src/translations/pt-PT/portals/common-users.ts
  modules/i18n/src/translations/si-LK/portals/common-users.ts
  modules/i18n/src/translations/ta-IN/portals/common-users.ts
  modules/i18n/src/translations/zh-CN/portals/common-users.ts
Due: @wso2is/i18n

Add changeset 🦋
  .changeset/good-pens-thank.md
  .changeset/tame-frogs-begin.md
Due: none

Fix formatting issues
  apps/myaccount/src/components/profile/fields/country-field-form.tsx
  apps/myaccount/src/components/profile/fields/date-picker-field-form.tsx
  apps/myaccount/src/components/profile/fields/dropdown-field-form.tsx
  apps/myaccount/src/components/profile/fields/locale-field-form.tsx
  apps/myaccount/src/components/profile/fields/multi-email-field-form.tsx
  apps/myaccount/src/components/profile/fields/multi-mobile-field-form.tsx
  apps/myaccount/src/components/profile/fields/multi-valued-field-form.tsx
  apps/myaccount/src/components/profile/fields/radio-field-form.tsx
  apps/myaccount/src/components/profile/fields/single-email-field-form.tsx
  apps/myaccount/src/components/profile/fields/single-mobile-field-form.tsx
  apps/myaccount/src/components/profile/fields/text-field-form.tsx
Due: none

Remove screen value
  identity-apps-core/apps/recovery-portal/src/main/webapp/password-recovery-otp.jsp
  identity-apps-core/apps/recovery-portal/src/main/webapp/sms-and-email-otp.jsp
Due: none

Extend code resending for email verification pending and account confirmation pending scenarios
  features/admin.server-configurations.v1/constants/ask-password-constants.ts
  features/admin.server-configurations.v1/constants/server-configurations-constants.ts
  features/admin.users.v1/components/user-profile.tsx
  features/admin.users.v1/constants/user-management-constants.ts
  features/admin.users.v1/pages/user-edit.tsx
  modules/i18n/src/translations/en-US/portals/user.ts
  modules/i18n/src/translations/en-US/portals/users.ts
Due: @wso2is/i18n

Improve workflow empty list page UX and avoid adding same operation for multiple workflows
  features/admin.approval-workflows.v1/components/approval-workflow-list.tsx
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.tsx
  modules/i18n/src/models/namespaces/approval-workflows-ns.ts
  modules/i18n/src/translations/en-US/portals/approval-workflows.ts
Due: @wso2is/i18n

Add changeset 🦋
  .changeset/three-clocks-ring.md
Due: none

Refactor i18 keys for workflow request error scenarios and allow only pending workflows to be aborted
  features/admin.workflow-requests.v1/api/workflow-requests.ts
  features/admin.workflow-requests.v1/components/filter-dropdowns.tsx
  features/admin.workflow-requests.v1/components/workflow-requests-list.tsx
  features/admin.workflow-requests.v1/models/workflowRequests.ts
  features/admin.workflow-requests.v1/pages/workflow-request-details.tsx
  features/admin.workflow-requests.v1/pages/workflow-requests.tsx
  modules/i18n/src/models/namespaces/workflow-requests-ns.ts
  modules/i18n/src/translations/en-US/portals/workflow-requests.ts
Due: @wso2is/i18n

Add changeset 🦋
  .changeset/honest-pugs-hunt.md
Due: none

Refactor i18 keys for workflow requests and approval workflows
  apps/console/src/configs/routes.tsx
  apps/console/src/public/deployment.config.json
  features/admin.approval-workflows.v1/components/approval-workflow-list.tsx
  features/admin.approval-workflows.v1/components/create/general-approval-workflow-details-form.tsx
  features/admin.approval-workflows.v1/components/edit/approval-workflow-edit.tsx
  features/admin.approval-workflows.v1/pages/approval-workflows.tsx
  features/admin.workflow-requests.v1/components/active-filters-bar.tsx
  features/admin.workflow-requests.v1/components/filter-dropdowns.tsx
  features/admin.workflow-requests.v1/components/time-range-dropdown.tsx
  features/admin.workflow-requests.v1/components/workflow-requests-filter.tsx
  features/admin.workflow-requests.v1/components/workflow-requests-list.tsx
  features/admin.workflow-requests.v1/models/workflowRequests.ts
  features/admin.workflow-requests.v1/pages/workflow-request-details.tsx
  features/admin.workflow-requests.v1/pages/workflow-requests.tsx
  modules/i18n/src/models/namespaces/approval-workflows-ns.ts
  modules/i18n/src/models/namespaces/console-ns.ts
  modules/i18n/src/models/namespaces/index.ts
  modules/i18n/src/models/namespaces/workflow-requests-ns.ts
  modules/i18n/src/translations/en-US/portals/approval-workflows.ts
  modules/i18n/src/translations/en-US/portals/console.ts
  modules/i18n/src/translations/en-US/portals/index.ts
  modules/i18n/src/translations/en-US/portals/workflow-requests.ts
Due: @wso2is/i18n

The workflow implementation of different templates are readonly from the console app
  features/admin.approval-workflows.v1/components/edit/approval-workflow-edit.tsx
Due: none

Refactoring
  features/admin.approval-workflows.v1/components/create/auto-complete-render-option.tsx
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.tsx
  modules/i18n/src/models/namespaces/approval-workflows-ns.ts
  modules/i18n/src/translations/en-US/portals/approval-workflows.ts
Due: @wso2is/i18n

Address review comments
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.tsx
  features/admin.users.v1/components/user-profile.tsx
Due: none

Resolve conflicts
  features/admin.workflow-requests.v1/components/workflow-requests-filter.tsx
  modules/i18n/src/models/namespaces/workflow-requests-ns.ts
  modules/i18n/src/translations/en-US/portals/approval-workflows.ts
  modules/i18n/src/translations/en-US/portals/workflow-requests.ts
Due: @wso2is/i18n

Resolve conflicts
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.tsx
Due: none

Move image inline
  features/admin.flow-builder-core.v1/assets/recaptcha-badge.svg
  features/admin.flow-builder-core.v1/components/resources/elements/adapters/captcha-adapter.tsx
Due: none

Add reusable util for `loadStaticResource`
  features/admin.core.v1/utils/load-static-resource.ts
Due: none

Use `loadStaticResource` for loading images
  features/admin.flow-builder-core.v1/components/resource-panel/resource-panel-item.tsx
  features/admin.flow-builder-core.v1/components/resources/elements/adapters/button-adapter.tsx
  features/admin.flow-builder-core.v1/components/resources/steps/end/end.tsx
  features/admin.flow-builder-core.v1/providers/authentication-flow-builder-core-provider.tsx
  features/admin.password-recovery-flow-builder.v1/components/resource-property-panel/extended-properties/button-extended-properties.tsx
  features/admin.registration-flow-builder.v1/components/resource-property-panel/extended-properties/button-extended-properties.tsx
  features/common.ai.v1/components/ai-card.tsx
Due: none

Improve validation logic
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.tsx
Due: none

Refactor `ApplicationsSettingsForm` component - remove default props - improve readability
  features/admin.applications.v1/pages/applications-settings.tsx
Due: none

Revert conflict
  features/admin.ask-password-flow-builder.v1/data/steps.json
Due: none

Revert conflict
  features/admin.ask-password-flow-builder.v1/data/widgets.json
Due: none

Remove unnecessary state variable
  features/admin.applications.v1/pages/applications-settings.tsx
Due: none

Fix lint issues
  features/admin.approval-workflows.v1/components/edit/approval-workflow-edit.tsx
Due: none

Add changeset
  .changeset/multi-attribute-login-chips.md
Due: none

Fix ESLint issues
  features/admin.flow-builder-core.v1/components/resource-panel/resource-panel-item.tsx
  features/admin.flow-builder-core.v1/components/resources/elements/adapters/button-adapter.tsx
  features/admin.flow-builder-core.v1/components/resources/elements/adapters/captcha-adapter.tsx
  features/admin.flow-builder-core.v1/components/resources/steps/end/end.tsx
  features/admin.password-recovery-flow-builder.v1/components/resource-property-panel/extended-properties/button-extended-properties.tsx
  features/admin.registration-flow-builder.v1/components/resource-property-panel/extended-properties/button-extended-properties.tsx
  features/common.ai.v1/components/ai-card.tsx
Due: none

🦋 Add changeset
  .changeset/spicy-readers-compare.md
Due: none

Update UX when existing operation is selected by another workflow
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.tsx
  features/admin.approval-workflows.v1/components/edit/approval-workflow-edit.tsx
  features/admin.approval-workflows.v1/constants/approval-workflow-constants.ts
  features/admin.approval-workflows.v1/pages/approval-workflow-create-page.tsx
  features/admin.workflow-requests.v1/pages/workflow-request-details.tsx
Due: none

Fix build issues
  features/common.ai.v1/components/ai-card.tsx
Due: none

Add changeset
  .changeset/rotten-pandas-judge.md
  identity-apps-core/apps/recovery-portal/src/main/webapp/password-recovery-otp.jsp
Due: none

Fix scope issue in DCR feature
  apps/console/java/org.wso2.identity.apps.console.server.feature/resources/deployment.config.json.j2
  apps/console/src/public/deployment.config.json
  features/admin.applications.v1/pages/applications-settings.tsx
Due: none

Add changeset 🦋
  .changeset/poor-donkeys-fry.md
Due: none

Update logic
  features/admin.approval-workflows.v1/components/create/workflow-operations-details-form.tsx
  features/admin.approval-workflows.v1/components/edit/approval-workflow-edit.tsx
Due: none

Add button disable.
  identity-apps-core/react-ui-core/src/components/adapters/button-field-adapter.js
  identity-apps-core/react-ui-core/src/components/field.js
Due: none
