Repository wso2/identity-apps: changes, and which Codecov flags are due for each by the changed paths.
All: @wso2is/core, @wso2is/features, @wso2is/i18n

Fix lint issues
  features/admin.claims.v1/components/edit/local-claim/edit-mapped-attributes-local-claims.tsx
  features/admin.claims.v1/pages/local-claims-edit.tsx
Due: none

Add case insensitive check for user stores
  features/admin.claims.v1/components/edit/local-claim/edit-mapped-attributes-local-claims.tsx
  features/admin.claims.v1/pages/local-claims-edit.tsx
Due: none

add conditional authentication premium banner and feature gate integration
  features/admin.applications.v1/components/banners/conditional-auth-premium-banner.scss
  features/admin.applications.v1/components/banners/conditional-auth-premium-banner.tsx
  features/admin.applications.v1/components/settings/sign-on-methods/components/sign-on-methods-core.tsx
  features/admin.applications.v1/components/settings/sign-on-methods/script-based-flow/script-based-flow.tsx
  features/admin.feature-gate.v1/context/feature-gate-context.tsx
  features/admin.feature-gate.v1/providers/feature-gate-provider.tsx
  features/admin.login-flow-builder.v1/components/authentication-flow-builder.tsx
  features/admin.login-flow-builder.v1/components/script-editor-panel/script-based-flow-switch.tsx
  features/admin.login-flow-builder.v1/components/script-editor-panel/script-editor-panel.tsx
  features/admin.login-flow-builder.v1/package.json
  modules/i18n/src/models/namespaces/applications-ns.ts
  modules/i18n/src/translations/en-US/portals/applications.ts
Due: @wso2is/i18n

add changeset
  .changeset/good-seahorses-unite.md
Due: none

Add changeset
  .changeset/good-seahorses-unite.md
Due: none

endpoint-authentication-property-value
  features/admin.email-providers.v1/pages/email-providers.tsx
  modules/i18n/src/models/namespaces/external-api-authentication-ns.ts
Due: @wso2is/i18n

Refactor authentication UI configuration for email senders
  features/admin.core.v1/helpers/external-api-authentication-helpers.tsx
  modules/i18n/src/models/namespaces/index.ts
Due: @wso2is/i18n

Add changeset 🦋
  .changeset/sixty-candles-knock.md
Due: none

Update .changeset/sixty-candles-knock.md
  .changeset/sixty-candles-knock.md
Due: none

Address review comments
  features/admin.applications.v1/components/banners/conditional-auth-premium-banner.tsx
  features/admin.applications.v1/components/settings/sign-on-methods/components/sign-on-methods-core.tsx
  features/admin.applications.v1/components/settings/sign-on-methods/script-based-flow/script-based-flow.tsx
  features/admin.feature-gate.v1/context/feature-gate-context.tsx
  features/admin.feature-gate.v1/providers/feature-gate-provider.tsx
  features/admin.login-flow-builder.v1/components/authentication-flow-builder.tsx
  features/admin.login-flow-builder.v1/components/script-editor-panel/script-based-flow-switch.tsx
  features/admin.login-flow-builder.v1/components/script-editor-panel/script-editor-panel.tsx
Due: none

add default authenticators to whitelist
  .changeset/famous-hounds-burn.md
  identity-apps-core/features/org.wso2.identity.apps.authentication.portal.server.feature/resources/web.xml.j2
Due: none

Minor refactoring
  identity-apps-core/features/org.wso2.identity.apps.authentication.portal.server.feature/resources/web.xml.j2
Due: none

Fix daysjs fromnow function not found issue
  apps/myaccount/src/components/user-sessions/user-sessions-edit.tsx
  features/admin.workflow-requests.v1/components/workflow-requests-list.tsx
Due: none

Add changeset 🦋
  .changeset/five-bugs-learn.md
Due: none

address review comments
  features/admin.login-flow-builder.v1/components/authentication-flow-builder.tsx
Due: none

Fix daysjs fromnow function not found issue.
  .changeset/modern-pillows-tie.md
  apps/myaccount/src/components/user-sessions/user-sessions-edit.tsx
  features/admin.workflow-requests.v1/components/workflow-requests-list.tsx
Due: none

Hide meta attributes
  apps/myaccount/src/components/profile/profile.tsx
  features/common.users.v1/utils/profile-utils.ts
  modules/core/src/constants/profile-constants.ts
Due: @wso2is/core

Add changeset 🦋
  .changeset/beige-kids-grow.md
Due: none

Change readOnlyUserStore list usage
  features/admin.claims.v1/components/edit/local-claim/edit-mapped-attributes-local-claims.tsx
  features/admin.claims.v1/pages/local-claims-edit.tsx
Due: none

Fix lint issues
  features/admin.claims.v1/components/edit/local-claim/edit-mapped-attributes-local-claims.tsx
Due: none

User readOnlyUserStoreList from context in basic attribute edit page.
  features/admin.claims.v1/components/edit/local-claim/edit-basic-details-local-claims.tsx
  features/admin.claims.v1/pages/local-claims-edit.tsx
Due: none

fix: resolve timestamp display issue in approval task component.
  features/common.workflow-approvals.v1/components/approval-task.tsx
Due: none

Add changeset.
  .changeset/angry-pumpkins-refuse.md
Due: none

fix: resolve timestamp issues in user sessions page.
  apps/myaccount/src/components/user-sessions/user-sessions-edit.tsx
  features/admin.users.v1/components/user-sessions.tsx
Due: none

Add the changeset.
  .changeset/tame-socks-trade.md
Due: none

Add the changeset.
  .changeset/stale-apricots-travel.md
Due: none

Update display username unavailable config usage
  identity-apps-core/apps/recovery-portal/src/main/webapp/self-registration-with-verification.jsp
Due: none

Making toml configuration nested
  identity-apps-core/features/org.wso2.identity.apps.authentication.portal.server.feature/resources/web.xml.j2
Due: none

Fix Indentation
  identity-apps-core/features/org.wso2.identity.apps.authentication.portal.server.feature/resources/web.xml.j2
Due: none

changeset
  .changeset/polite-kids-watch.md
Due: none

fix indentation
  identity-apps-core/features/org.wso2.identity.apps.authentication.portal.server.feature/resources/web.xml.j2
Due: none

add config to update sms resend blocking duration
  features/admin.connections.v1/constants/connection-ui-constants.ts
  features/admin.identity-providers.v1/components/forms/authenticators/sms-otp-authenticator-form.tsx
  modules/i18n/src/models/namespaces/authentication-provider-ns.ts
  modules/i18n/src/models/namespaces/console-ns.ts
  modules/i18n/src/translations/en-US/portals/authentication-provider.ts
  modules/i18n/src/translations/en-US/portals/console.ts
Due: @wso2is/i18n

Add changeset 🦋
  .changeset/wise-swans-travel.md
Due: none

Add authentication config UI for custom sms provider
  features/admin.core.v1/helpers/external-api-authentication-helpers.tsx
  features/admin.core.v1/styles/external-api-authentication.scss
  features/admin.extensions.v1/configs/endpoints.ts
  features/admin.extensions.v1/configs/models/endpoints.ts
  features/admin.sms-providers.v1/api/sms-provider.ts
  features/admin.sms-providers.v1/constants/sms-provider-constants.ts
  features/admin.sms-providers.v1/models/sms-providers.ts
  features/admin.sms-providers.v1/pages/custom-sms-provider.tsx
  features/admin.sms-providers.v1/pages/sms-providers.tsx
  modules/i18n/src/translations/en-US/portals/external-api-authentication.ts
Due: @wso2is/i18n

Fix infinite loop in insight page
  features/admin.org-insights.v1/utils/insights.ts
Due: none

Add changeset 🦋
  .changeset/blue-ducks-sip.md
Due: none

Update method to resolve scopes recursively
  identity-apps-core/components/org.wso2.identity.apps.common/src/main/java/org/wso2/identity/apps/common/listner/ConsoleRoleListener.java
Due: none

Add authentication config UI for custom sms provider
  features/admin.core.v1/helpers/external-api-authentication-helpers.tsx
  features/admin.core.v1/styles/external-api-authentication.scss
  features/admin.sms-providers.v1/constants/sms-provider-constants.ts
  features/admin.sms-providers.v1/models/sms-providers.ts
  features/admin.sms-providers.v1/pages/custom-sms-provider.tsx
  features/admin.sms-providers.v1/pages/sms-providers.scss
  features/admin.sms-providers.v1/pages/sms-providers.tsx
  modules/i18n/src/models/namespaces/external-api-authentication-ns.ts
  modules/i18n/src/translations/en-US/portals/external-api-authentication.ts
Due: @wso2is/i18n

Fix ESLint issues.
  features/admin.core.v1/helpers/external-api-authentication-helpers.tsx
  features/admin.sms-providers.v1/pages/custom-sms-provider.tsx
  features/admin.sms-providers.v1/pages/sms-providers.tsx
  modules/i18n/src/translations/en-US/portals/external-api-authentication.ts
Due: @wso2is/i18n

Get OIDC configurations into the app markdown data
  features/admin.application-templates.v1/components/application-markdown-guide.tsx
Due: none

Path conditions:
  @wso2is/core: any of: modules/core/src/**/*.ts
  @wso2is/features: any of: features/**/src/**/*.ts, features/**/src/**/*.tsx
  @wso2is/i18n: any of: modules/i18n/src/**/*.ts
